.ant-modal, .ant-modal-close, .ant-modal-content{
    background-color:rgb(47,48,53) !important;
    color:white;
    padding:0;
    border-radius:10px;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color:#202024;
}
::-webkit-scrollbar-corner{
    background-color: #202024;
}
::-webkit-scrollbar-thumb{
	background-color: rgba(104, 103, 103, 0.723);
	border-radius: 10px;
}
.ant-message {
    top:50px !important;
}